.collection-main {
    /* height: 490px; */
    margin-bottom: 64px;
}

@media screen and (min-width: 992px) {
    .collection-main {
        height: auto;
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 768px) {
    .collection-main {
        height: 806px;
        /* margin-bottom: 380px; */
    }
}

@media screen and (min-width: 576px) {
    .collection-main {
        height: auto;
        margin-bottom: 80px;
    }
}

/* .collection-main__girl {
    width: 320px;
    margin: 0;
}


.collection-img__rooms {
    margin-bottom: 30px;
} */

@media screen and (min-width: 768px) {
    .ccollection-image {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 576px) {
    .collection-image {
        margin-bottom: 30px;
        text-align: center;
    }
}

.collection-title {
    /* font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.2px;
    color: var(--black); */
    margin-bottom: 24px;
}

.collection-text {
    /* font-family: var(--grey);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: var(--grey); */
    margin-bottom: 32px;
}

.collection-link {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .collection-link {
        text-align: start;
    }
}

.collection-link__color {
    color: #1565D8;
}
.collection-link__icon {
    display: inline-block;
    cursor: pointer;
}