.collection-main {
    margin-bottom: 64px;
}

@media screen and (min-width: 576px) {
    .collection-main {
        /* height: auto; */
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 768px) {
    .collection-main {
        /* height: 806px; */
    }
}

@media screen and (min-width: 992px) {
    .collection-main {
        /* height: auto; */
        margin-bottom: 80px;
    }
}

/* .collection-main__girl {
    width: 320px;
    margin: 0;
}


.collection-img__rooms {
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .collection-img {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 576px) {
    .collection-img {
        margin-bottom: 30px;
        text-align: center;
    }
} */

/* .collection-title {
    margin-bottom: 24px;
}

.collection-text {
    margin-bottom: 32px;
} */

/* .collection-link {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .collection-link {
        text-align: start;
    }
}

.collection-link__color {
    color: #1565D8;
}
.collection-link__icon {
    display: inline-block;
    cursor: pointer;
} */


.collection-image {
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
}

.collection-image__item {
    display: block;
    width: 100%;
}

@media screen and (max-width: 575px) {
    .collection-image_main {
        height: 300px;
        position: relative;
    }

    .collection-image__item_center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 576px) {
    .collection-image {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .collection-image_main .collection-image__item {
        width: auto;
        height: 523px;
    }
}

@media screen and (min-width: 992px) {
    .collection-image_main .collection-image__item {
        width: auto;
        height: 407px;
    }

    .collection-image {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .collection-image_main .collection-image__item {
        width: 100%;
        height: auto;
    }
}

.collection-link {}

.collection-link__icon {
    margin-left: 30px;
}