.footer {
    padding-top: 128px;
}

.footer__block {
    padding-top: 128px;
}

.footer__logo {
    width: 263px;
    height: 183px;
}

.footer__logo p {
        margin: 0;
}

.footer__icon {
    margin-bottom: 28.04px;
}
.footer__circles {
    margin-top: 32.05px;
    display: flex;
}

.footer__circles > *:not(:last-child) {
    margin-right: 7px;
}
.footer__circles-item {
    width: 40px;
    height: 40px;
    background: rgb(223, 222, 222,0.3);
    /* opacity: 0.1; */
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_promo {
    width: 165px;
}

.footer_promo > * :not(:last-child) {
    margin-right: 30px;
}

.footer__subtitle {
    margin-bottom: 31px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--black);
}

.footer__text {
    display: block;
    margin-bottom: 24px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
}

.footer_copy {
    width: 279px;
    margin: 0 auto;
    margin-bottom: 65px;
    padding-top: 96.14px;
}

.footer_copy__logo {
    margin-bottom: 23.92px;
}

.footer_copy__icon {
    margin-left: 100px;
    width: 56px;
    height: 56px;
    background-color: var(--blue);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_copy__text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--grey);
}
