.form {
    padding: 100px 0;
    background-color: var(--blue);
    color: #FFFFFF;
}

.form__desr > *:not(:last-child){
    margin-bottom: 14px;
}

.form__descr-title {
    font-family: var(--font-familyTwo);
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.2px;
}

.form__descr-text {
    font-family:  var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.form__form {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;
}

.form__subscribe {
    width: 100%;
}
.form__subscribe-content {
    display: flex;
    background-color: #fff;
    border: 1px solid #C3CAD9;
	border-radius: 8px;
	padding: 4px;
}

.form__subscribe-input {
    flex-grow: 1;
	border: none;
    background: transparent;
	color: var(--black);
	padding: 0 12px;
}

.form__subscribe-input:focus {
    outline: none !important;;
}

.form__subscribe-icon {
    padding-left: 16px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    order: -1;
    color: var(--black);

}
.btn__form {
    margin-top: 0;
    width: 143px;
    /* height: 48px; */
}

.form__subscribe-input:focus  + .form__subscribe-icon  {
    color: var(--blue);
}

