:root {
    --outside: 40px;
    --user-padding: 10px;
    --font-family: 'Open Sans', sans-serif;
    --blue: #1565D8;
    --black: #183B56;
    --green: #36B37E;
    --grey:#5A7184;
	--font-familyTwo: 'Familjen Grotesk';
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

.btn {
    display: inline-flex;
	align-items: center;
	border: none;
	border-radius: 8px;
	background: transparent;
	font-weight: 700;
	font-weight: bold;
	font-size: 18px;
	line-height: 1;
	color: rgb(255,255,255);
	height: 48px;
	padding: 0 25px;
	cursor: pointer;
	text-decoration: none;
}

.btn__large {
    height: 56px;
    padding: 0 32px;
}

.btn__black {
	background-color: var(--black);
}

.btn:hover {
	background: var(--blue);
	border-color: var(--blue);
	color: #fff;
}

.page {
    display: flex;
    flex-direction: column;
	min-height: 100vh;
}
