:root {
  --outside: 40px;
  --user-padding: 10px;
  --font-family: "Open Sans", sans-serif;
  --blue: #1565d8;
  --black: #183b56;
  --green: #36b37e;
  --grey: #5a7184;
  --font-secondary: "HK Grotesk", sans-serif;
}

a {
  text-decoration: none;
  color: var(--blue);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: var(--font-family);
  line-height: 1.4;
}

label {
  cursor: pointer;
}

svg {
  fill: currentColor;
}
.btn {
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: transparent;
  font-weight: 700;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: rgb(255, 255, 255);
  height: 48px;
  padding: 0 25px;
  cursor: pointer;
  text-decoration: none;
}

.btn_large {
  height: 56px;
  padding: 0 32px;
}

.btn_black {
  background-color: var(--black);
}

.btn:hover {
  background: var(--blue);
  border-color: var(--blue);
  color: #fff;
}

.btn_secondary {
  background-color: transparent;
}

.btn_secondary:hover {
  background-color: rgb(223, 223, 223);
  border: none;
}

.btn_light {
  color: var(--blue);
  border: 2px solid var(--blue);
  filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1));
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.btn_icon {
  padding: 0 12px;
}

.hashtag {
  display: inline-block;
  padding: 6px 16px;
  background: rgba(54, 179, 126, 0.1);
  border-radius: 2000px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--green);
  text-transform: uppercase;
}

.line {
  width: 100%;
  height: 1px;
  background: #e5eaf4;
  border: none;
}
