:root {
	--outside: 40px;
	--user-padding: 10px;
	--font-family: 'Open Sans', sans-serif;
	--blue: #1565d8;
	--black: #183b56;
	--green: #36b37e;
	--grey: #5a7184;
	--font-secondary: 'HK Grotesk', sans-serif;
}

a {
	text-decoration: none;
	color: var(--blue);
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}

body {
	font-family: var(--font-family);
}

label {
	cursor: pointer;
}

.hashtag {
	display: inline-block;
	padding: 6px 16px;
	margin-bottom: 28px;
	background: rgba(54, 179, 126, 0.1);
	border-radius: 2000px;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: var(--green);
	text-transform: uppercase;
}

/* .subtitle {
	font-family: var(--font-secondary);
	font-weight: 700;
	font-size: 48px;
	line-height: 60px;
	letter-spacing: 0.2px;
	color: var(--black);
	text-align: center;
}

.subtext {
	font-family: var(--grey);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: var(--grey);
} */
