:root {
    --outside: 40px;
    --user-padding: 10px;
    --font-family: 'Open Sans', sans-serif;
    --blue: #1565D8;
    --black: #183B56;
    --green: #36B37E;
    --grey:#5A7184;
	--font-secondary: 'Familjen Grotesk';
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}

body {
    font-family: var(--font-family);
}

label {
	cursor: pointer;
}
.btn {
    display: inline-flex;
	align-items: center;
	border: none;
	border-radius: 8px;
	background: transparent;
	font-weight: 700;
	font-weight: bold;
	font-size: 18px;
	line-height: 1;
	color: rgb(255,255,255);
	height: 48px;
	padding: 0 25px;
	cursor: pointer;
	text-decoration: none;
}

.btn_large {
    height: 56px;
    padding: 0 32px;
}

.btn_black {
	background-color: var(--black);
}

.btn:hover {
	background: var(--blue);
	border-color: var(--blue);
	color: #fff;
}

.btn_light {
	color: var(--blue);
	border: 2px solid var(--blue);
	filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1));
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}
.page {
    display: flex;
    flex-direction: column;
	min-height: 100vh;
}
