.container {
    width: 1140px;
    margin: 0 auto;
}

.row {
    /* background-color: pink; */
    --gutter: 30px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-left: calc(var(--gutter) / -2);
    margin-right: calc(var(--gutter) / -2);
}

.row > * {
    flex-shrink: 0;
    padding-left: calc(var(--gutter) / 2);
    padding-right: calc(var(--gutter) / 2);
}
/* 12 columns */
.col-1 {
	width: calc(100% / 12);
}

.col-2 {
	width: calc(100% / 6); /* 12 / 2 */
    /* background-color: green; */
}

.col-3 {
	width: calc(100% / 4); /* 12 / 3 */
}

.col-4 {
	width: calc(100% / 3);
}

.col-5 {
	width: calc(100% / 2.4);
}

.col-6 {
	width: calc(100% / 2);
}

.col-7 {
	width: calc(100% / 1.715);
}

.col-8 {
	width: calc(100% / 1.5);
}

.col-9 {
	width: calc(100% / 1.333);
}

.col-10 {
	width: calc(100% / 1.2);
    /* background-color: blue; */
}

.col-11 {
	width: calc(100% / 1.09);
    background-color: brown;
}

.col-12 {
	width: 100%;
}