@import 'general.css';

.header__main {
    display: flex;
    align-items: center;
    height: 100px;
    margin-bottom: 36px;
}

.nav__main {
    display: flex;
    justify-content: flex-end;
}

.nav__menu {
    display: flex;
    /* --outside: 40px;
    --user-padding: 10px; */
    margin-right: calc(var(--outside) - var(--user-padding));
}

.nav__menu > *:not(:last-child) {
    margin-right: calc(var(--outside) - var(--user-padding) * 2);
}

.nav__item {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
    text-decoration: none;
    padding: var(--user-padding);
}

.header-nav__item:hover {
    color: var(--blue);
}

