.hero {
    background: url(../img/background.png) center center/cover no-repeat;
    min-height: 700px;
    width: 1280px;
    margin: 0 auto 50px;
    border-radius: 8px;
    padding:  60px 0;
    /* flex-shrink: 1; */
}

.hero-hashtag {
    display: inline-block;
    padding: 6px 16px;
    margin-bottom: 28px;
    background: rgba(54, 179, 126, 0.1);
    border-radius: 2000px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--green);
}

.hero-title {
    font-family: 'Familjen Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.2px;
    color: var(--black);
    margin-bottom: 28px;
}

.hero-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: var(--grey);
}

.hero-action {
    margin-top: 52px;
}

.hero-icons {
    display: flex;
    margin-top: 48px;
}

.hero-icons__together {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 500;
}

.icons-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 0.75px solid var(--blue);
    border-radius: 12px;
    margin-right: 8px;
}

