.forma {
    margin-left: 100px;
}

.form-check {
    padding-bottom: 20px;
}

.form-check__input {
    display: none;
}

.form-check__label {
	display: flex;
	align-items: baseline;
	cursor: pointer;
	line-height: 1.4;
}

.form-check__color {
	color: var(--black);
}


.form-check__label:before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	flex-shrink: 0;
	margin-right: 10px;
	background-color: #fff;
	border: 1px solid #C3CAD9;
	position: relative;
	/* top: 1px; */
}

[type="radio"] + .form-check__label:before {
	border-radius: 8px;
}

.form-check__input[type="radio"]:checked + .form-check__label:before {
	background-size: 8px 8px;
	background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5' cy='5' r='5' fill='%23fff'/%3E%3C/svg%3E");
}

.form-check_reverse .form-check__input[type="radio"]:checked + .form-check__label:before {
	background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5' cy='5' r='5' fill='%231565D8'/%3E%3C/svg%3E");
}

.form-check_reverse .form-check__input:checked + .form-check__label:before {
	background-color: #fff;
	border-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0.800049C6.724 0.800049 6.474 0.912049 6.293 1.09305L5.293 2.09305L3 4.38605L1.707 3.09305C1.526 2.91205 1.276 2.80005 1 2.80005C0.448 2.80005 0 3.24805 0 3.80005C0 4.07605 0.112 4.32605 0.293 4.50705L2.293 6.50705C2.474 6.68805 2.724 6.80005 3 6.80005C3.276 6.80005 3.526 6.68805 3.707 6.50705L6.707 3.50705L7.707 2.50705C7.888 2.32605 8 2.07605 8 1.80005C8 1.24755 7.552 0.800049 7 0.800049' fill='%231565D8'/%3E%3C/svg%3E%0A");
}