.trending-header {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.2px;
    color: var(--black);
    text-align: center;
}

/* @media screen and (min-width:992px) {
    .trending-header {
        text-align:justify;
} */

.trending-nav {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.trending-nav > *:not(:last-child) {
    margin-right: 38px;
}

.trending-nav__item {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #5A7184;
}

.trending-item__color {
    font-weight: 700;
    color:var(--black);
}

.trending-main {
    /* display: flex; */
    flex-wrap: wrap;
    padding-top: 48px;
}

.trending-item {
    width: auto;
    margin-right: 30px;
    margin-bottom: 50px;
}

@media screen and (max-width:575px) {
    .trending-item {
        width: 140px;
    }
}

.trending-item__img {
    margin-bottom: 20px;
    width: 140px;
}

@media screen and (min-width: 576px) {
    .trending-item__img {
        width: 260px;
    }
}
@media screen and (min-width: 768px) {
    .trending-item__img {
        width: 100%;
    }
}

.trending-item__descr {
    display: flex;
    justify-content: space-between;
}
.trending-item__title {
    margin-bottom: 3px;
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: var(--black);
}

.trending-item__price {
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: var(--grey);
}

.trending-main__item {
    background-color: var(--blue);
    height: 350px;
    border-radius: 2%;
}
 .trending-main__paragrath {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    display: block;
 }

.trending-main__paragrath:before {
    content: '+';
    display: block;
    padding-top: 120px;
    padding-bottom: 25px;
    color: white;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 11H17V2C17 0.9375 16.0625 0 15 0H13C11.875 0 11 0.9375 11 2V11H2C0.875 11 0 11.9375 0 13V15C0 16.125 0.875 17 2 17H11V26C11 27.125 11.875 28 13 28H15C16.0625 28 17 27.125 17 26V17H26C27.0625 17 28 16.125 28 15V13C28 11.9375 27.0625 11 26 11Z' fill='white'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
	background-position: center; */
}