/* Extra small
<576px
Small
≥576px
Medium
≥768px
Large
≥992px
Extra large
≥1200px */


.container {
    /* width: 1140px; */
    width: 100%;
    margin: 0 auto;
}

@media screen and(max-width: 575px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    /* background-color: pink; */
    --gutter: 10px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin-left: calc(var(--gutter) / -2);
    margin-right: calc(var(--gutter) / -2);
}

@media screen and (min-width: 576px) {
    .row {
        --gutter: 20px;
    }
}

@media screen and (min-width: 992px) {
    .row {
        --gutter: 30px;
        /* flex-grow: 0; */
    }
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    padding-left: calc(var(--gutter) / 2);
    padding-right: calc(var(--gutter) / 2);
}
/* 12 columns */
.col-1 {
	width: calc(100% / 12);
}

.col-2 {
	width: calc(100% / 6); /* 12 / 2 */
}

.col-3 {
	width: calc(100% / 4); /* 12 / 3 */
}

.col-4 {
	width: calc(100% / 3);
}

.col-5 {
	width: calc(100% / 2.4);
}

.col-6 {
	width: calc(100% / 2);
}

.col-7 {
	width: calc(100% / 1.715);
}

.col-8 {
	width: calc(100% / 1.5);
}

.col-9 {
    width: calc(100% / 1.3334);
   }


.col-10 {
	width: calc(100% / 1.2);
    /* background-color: blue; */
}

.col-11 {
	width: calc(100% / 1.09);
    background-color: brown;
}

.col-12 {
	width: 100%;
}

/* по bootstrap */

@media screen and (min-width: 576px) {
	.col-sm-1 {
		width: calc(100% / 12);
	}

	.col-sm-2 {
		width: calc(100% / 6); /* 12 / 2 */
	}

	.col-sm-3 {
		width: calc(100% / 4); /* 12 / 3 */
	}

	.col-sm-4 {
		width: calc(100% / 3);
	}

	.col-sm-5 {
		width: calc(100% / 2.4);
	}

	.col-sm-6 {
		width: calc(100% / 2);
	}

	.col-sm-7 {
		width: calc(100% / 1.715);
	}

	.col-sm-8 {
		width: calc(100% / 1.5);
	}

	.col-sm-9 {
		width: calc(100% / 1.3334);
	}

	.col-sm-10 {
		width: calc(100% / 1.2);
	}

	.col-sm-11 {
		width: calc(100% / 1.09);
	}

	.col-sm-12 {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.col-md-1 {
			width: calc(100% / 12);
	}

	.col-md-2 {
			width: calc(100% / 6); /* 12 / 2 */
	}

	.col-md-3 {
			width: calc(100% / 4); /* 12 / 3 */
	}

	.col-md-4 {
			width: calc(100% / 3);
	}

	.col-md-5 {
			width: calc(100% / 2.4);
	}

	.col-md-6 {
			width: calc(100% / 2);
	}

	.col-md-7 {
			width: calc(100% / 1.715);
	}

	.col-md-8 {
			width: calc(100% / 1.5);
	}

	.col-md-9 {
			width: calc(100% / 1.3334);
	}

	.col-md-10 {
			width: calc(100% / 1.2);
	}

	.col-md-11 {
			width: calc(100% / 1.09);
	}

	.col-md-12 {
			width: 100%;
	}
}

@media screen and (min-width: 992px) {
	.col-lg-1 {
			width: calc(100% / 12);
	}

	.col-lg-2 {
			width: calc(100% / 6);
	}

	.col-lg-3 {
			width: calc(100% / 4);
	}

	.col-lg-4 {
			width: calc(100% / 3);
	}

	.col-lg-5 {
			width: calc(100% / 2.4);
	}

	.col-lg-6 {
			width: calc(100% / 2);
	}

	.col-lg-7 {
			width: calc(100% / 1.715);
	}

	.col-lg-8 {
			width: calc(100% / 1.5);
	}

	.col-lg-9 {
			width: calc(100% / 1.3334);
	}

	.col-lg-10 {
			width: calc(100% / 1.2);
	}

	.col-lg-11 {
			width: calc(100% / 1.09);
	}

	.col-lg-12 {
			width: 100%;
	}
}

@media screen and (min-width: 1200px) {
	.col-xl-1 {
			width: calc(100% / 12);
	}

	.col-xl-2 {
			width: calc(100% / 6); /* 12 / 2 */
	}

	.col-xl-3 {
			width: calc(100% / 4); /* 12 / 3 */
	}

	.col-xl-4 {
			width: calc(100% / 3);
	}

	.col-xl-5 {
			width: calc(100% / 2.4);
	}

	.col-xl-6 {
			width: calc(100% / 2);
	}

	.col-xl-7 {
			width: calc(100% / 1.715);
	}

	.col-xl-8 {
			width: calc(100% / 1.5);
	}

	.col-xl-9 {
			width: calc(100% / 1.3334);
	}

	.col-xl-10 {
			width: calc(100% / 1.2);
	}

	.col-xl-11 {
			width: calc(100% / 1.09);
	}

	.col-xl-12 {
			width: 100%;
	}
}