.footer-main {
    padding-top: 128px;
}

.footer-logo {
    /* padding-top: 47px; */
    text-align: center;
}
@media screen and (min-width: 576px) {
    .footer-logo {
        margin-bottom: 53px;
    }
}

@media screen and (min-width: 768px) {
    .footer-logo {
       width: auto;
       text-align: start;
    }
}

.footer-logo p {
        margin: 0;
}

.footer-icon {
    margin-bottom: 28.04px;
}
.footer-circles {
    margin-top: 32.05px;
    display: flex;
    justify-content: center;
    /* padding-left: 50px; */
}

@media screen and (min-width: 768px) {
    .footer-circles {
       padding-left: 0;
       justify-content: start;
    }
}

.footer-circles > *:not(:last-child) {
    margin-right: 7px;
}
.footer-circles__item {
    width: 40px;
    height: 40px;
    background: rgb(223, 222, 222,0.3);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-promo {
    width: 165px;
}

.footer-promo > * :not(:last-child) {
    margin-right: 30px;
}

.footer-promo__subtitle {
    margin-bottom: 31px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--black);
}

.footer-promo__text {
    display: block;
    margin-bottom: 24px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
}

.footer-copy {
    width: 279px;
    margin: 0 auto;
    margin-bottom: 65px;
    padding-top: 96.14px;
}

@media screen and (max-width: 576px) {
    .footer-copy {display: none;}
}

.footer-copy__logo {
    margin-bottom: 23.92px;
}

.footer-copy__icon {
    margin: 0 auto;
    width: 56px;
    height: 56px;
    background-color: var(--blue);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-copy__text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--grey);
}

