.form-main {
    padding: 64px 0;
    background-color: var(--blue);
    color: #FFFFFF;
}

@media screen and (min-width:768px) {
   .form-main {
       padding: 72px 0;
   }
}

@media screen and (min-width:768px) {
    .form-main {
        padding: 100px 0;
    }
}

.form-descr > *:not(:last-child){
    margin-bottom: 14px;
}

 .form-descr {
     text-align: center;
 }

@media screen and (min-width:992px) {
    .form-descr {
        text-align: left;
    }
}

.form-descr__title {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 28px;
    line-height: 60px;
    letter-spacing: 0.2px;
    margin-bottom: 14px;
}

@media screen and (min-width:576px) {
    .form-descr__title {
        font-size: 48px;
    }
}

.form-descr__text {
    font-family:  var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.form-submit {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 30px;
}



@media screen and (min-width: 1200px) {
    .form-submit {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 992px) {
    .form-submit {
        margin-top: 0;
    }
}

.form__subscribe {
    width: 100%;

}
.form__subscribe-content {
    display: flex;
    background-color: #fff;
    border: 1px solid #C3CAD9;
	border-radius: 8px;
	padding: 13px;
}

@media screen and (min-width: 576px) {
    .form__subscribe-content {
        padding: 4px;
    }
}

.form__subscribe-footer {
	margin-top: 12px;
	padding-left: 20px;
}

.form__subscribe-input {
    flex-grow: 1;
	border: none;
    background: transparent;
	color: var(--black);
	padding: 0 12px;
}

.form__subscribe-input:focus {
    outline: none !important;;
}

.form__subscribe-icon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    order: -1;
    color: var(--black);

}

@media screen and (min-width: 576px) {
    .form-btn__show {
        display: none;
    }
    .form__subscribe-icon {
        padding-left: 16px;
    }
}

@media screen and (max-width: 576px) {
    .form-btn__hidden{
        display: none;
    }

}

.form-btn__show  {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}
@media screen and (min-width: 576px) {
    .form-btn__show {
        display: none;
    }
}

.form__subscribe-input:focus  + .form__subscribe-icon  {
    color: var(--blue);
}

.form-check__input {
    display: none;
}

.form-check__label {
    font-size: .85rem;
	color: #EDEDED;
	cursor: pointer;
	line-height: 1.4;
}
.form-check__label:before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	flex-shrink: 0;
	margin-right: 10px;
    top: 3px;
}

.form-check__input:checked + .form-check__label:before {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0.800049C6.724 0.800049 6.474 0.912049 6.293 1.09305L5.293 2.09305L3 4.38605L1.707 3.09305C1.526 2.91205 1.276 2.80005 1 2.80005C0.448 2.80005 0 3.24805 0 3.80005C0 4.07605 0.112 4.32605 0.293 4.50705L2.293 6.50705C2.474 6.68805 2.724 6.80005 3 6.80005C3.276 6.80005 3.526 6.68805 3.707 6.50705L6.707 3.50705L7.707 2.50705C7.888 2.32605 8 2.07605 8 1.80005C8 1.24755 7.552 0.800049 7 0.800049' fill='%231565D8'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center;
}

@media screen and (max-width: 576px) {
   .form-main .btn:hover {
        background: white;
        color: var(--black);
    }

}

