@import 'general.css';

.header-main {
    display: flex;
    align-items: center;
    height: 100px;
}

@media screen and (min-width: 576px) {
    .header-main {
        height: 64px;
        margin-bottom: 24px;
    }
}
@media screen and (min-width: 768px) {
    .header-main {
        height: 38px;
    }
}

@media screen and (min-width: 992px) {
    .header-main {
        height: auto;
        margin-bottom: 36px;
        margin-top: 26px;
    }
}

.logo-main {
    margin-top: 14px;
}

.nav-main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* @media screen and (max-width: 991px) {
    .nav-main {
        display: none;
        background-color: pink;
    }
} */

.nav-menu {
    display: flex;
    align-items: center;
    margin-right: calc(var(--outside) - var(--user-padding));
}


.nav-menu > *:not(:last-child) {
    margin-right: calc(var(--outside) - var(--user-padding) * 2);
}

.nav-menu__item {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
    text-decoration: none;
    padding: var(--user-padding);
}

.nav-menu__item:hover {
    color: var(--blue);
}

