.header-main {
    display: flex;
    align-items: center;
    height: 64px;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .header-main {
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 992px) {
    .header-main {
        height: 100px;
    }
}

.logo-main {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
    margin-right: calc(var(--outside) - var(--user-padding));
}

.nav-menu > *:not(:last-child) {
    margin-right: calc(var(--outside) - var(--user-padding) * 2);
}

.nav-menu__item {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
    text-decoration: none;
    padding: var(--user-padding);
}

.nav-menu__item:hover {
    color: var(--blue);
}
