.hero {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 65px;
	max-width: 1280px;
	background: #e9ebea url(../../img/hero-mobile.jpg) top center no-repeat;
	padding-top: 380px;
	padding-bottom: 36px;
}

@media screen and (min-width: 768px) {
	.hero {
		background: #e9ebea url(../../img/hero.jpg) top center/cover no-repeat;
		width: calc(100% - 40px);
		margin-bottom: 80px;
		border-radius: 8px;
		padding: 36px 28px;
	}
}

@media screen and (min-width: 992px) {
	.hero {
		min-height: 700px;
		padding: 60px;
	}

	.hero .block-text > *:not(:last-child) {
		margin-bottom: 28px;
	}
}

.hero-action {
	margin-top: 24px;
}

@media screen and (min-width: 768px) {
	.hero-action {
		margin-top: 36px;
	}
}

@media screen and (min-width: 992px) {
	.hero-action {
		margin-top: 52px;
	}
}

.hero-icons {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 24px;
}

.hero-icons > *:not(:last-child) {
	margin-right: 16px;
	margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
	.hero-icons > *:not(:last-child) {
		margin-right: 30px;
	}
}

.hero-icons__together {
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-right: 30px; */
	font-size: 16px;
	font-weight: 500;
}

.hero-icons__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	border: 1px solid var(--blue);
	border-radius: 6px;
	margin-right: 8px;
	/* fixed width */
	flex-shrink: 0;
	flex-wrap: nowrap;
}

.hero-icons__item > svg {
	width: 14px;
	height: 14px;
}

@media screen and (min-width: 576px) {
	.hero-icons {
		margin-top: 40px;
	}
}

@media screen and (min-width: 768px) {
	.hero-icons {
		justify-content: flex-start;
	}

	.hero-icons__item {
		width: 36px;
		height: 36px;
		border-radius: 12px;
	}

	.hero-icons__item > svg {
		width: 22px;
		height: 22px;
	}
}

@media screen and (min-width: 992px) {
	.hero-icons {
		margin-top: 48px;
		justify-content: flex-start;
	}
}
