.products__header {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    text-align: center;
    margin-bottom: 48px;
}

@media screen and (min-width: 992px) {
   .products__header {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;
       margin-bottom: 48px;
   }
}

.products__title {
    margin-bottom: 24px;
}
/* .products-nav {
    display: flex;
    justify-content: center;
    margin-right: 60px;
} */

@media screen and (min-width: 992px) {
   .products-nav {
       display: flex;
       justify-content: center;
       /* margin-right: 60px; */
   }
}

.products-nav > *:not(:last-child) {
    margin-right: 16px;
}

@media screen and (min-width: 992px) {
    .products-nav>*:not(:last-child) {
        margin-right: 38px;
    }
}

.products-nav__item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #5A7184;
}

@media screen and (min-width: 768px) {
    .products-nav__item {
        font-size: 18px;
    }
}

.products-item__color {
    font-weight: 700;
    color:var(--black);
}

.products-item {
    width: auto;
    margin-bottom: 50px;
}

.product-item__preview {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 8%;
}

.product-item__preview::after {
    content: '';
    display: block;
    padding-top: 130%;
}

.products-item__image {
   display: block;
   width: 100%;
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
}

.products-item__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products-item__button {
	background: transparent;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	color: var(--blue);
}

.products-item__link {
    color: var(--black);
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.products-item__link:hover {
    color: var(--blue);
}

.products-item__price {
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: var(--grey);
}

 .products-item__image_more {
    font-family: var(--font-secondary);
    background: var(--blue);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 }

.products-item__text_more {
    padding-top: 25px;
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

 .product-item__footer {
    display: flex;
    justify-content: space-between;
 }
